In [ ]:
#syntax
def fun_name():
    statements 1
    statements 2
    blocks of code 
    return value

In [48]:
def my_fun():
    print("Hello World!")
my_fun()

Hello World!

In [47]:
# To call a function, use the function name followed by parenthesis:
def my_fun():
    print("Hello world from function")
print( my_fun())

Hello world from function
None

In [52]:
def my_name(fname):
    print(fname + " S.")
    
my_name("Pavan")
my_name("sai")
    #print(my_name)

Pavan S.
sai S.

In [43]:
def my_fun(fname,lname):
    print(fname +" "+lname )
my_fun("Pavan", "siddapuram")

Pavan siddapuram

In [55]:
def my_fun():
    print("No arguments")
my_fun()

No arguments

In [70]:
def my_fun(fname,lname): 
    print(fname+" VS "+lname)
my_fun("Pavan","Ajay")
my_fun("Becon","visa")
my_fun("bit","byte")

Pavan VS Ajay
Becon VS visa
bit VS byte

In [71]:
def my_fun(fname,lname):
    print(f"{fname} is first name {lname} is last name")
my_fun(fname ="Pavan", lname= "Siddapuram" )

Pavan is first name Siddapuram is last name

In [1]:
def multiple(x):
    return x*5

In [1]:
#if the no.of parameters are unknown that we use * 
def my_function(*kids):
  print("The youngest child is " + kids[1])

my_function("Pavan", "Sai", "kiran")

The youngest child is Sai

In [ ]:
* - tuple
** - dictionary

In [3]:
def my_function(**kid):
    print(kid)

my_function(s1 = "Jaswanth",s2 ="Manoj",s3="Shiv",s4 = "Rajkumar")

{'s1': 'Jaswanth', 's2': 'Manoj', 's3': 'Shiv', 's4': 'Rajkumar'}