# list comprehension

In [6]:
fruits = ["apple","banana","cherry","Dragon","orange"]
new_list = []
for i in fruits:
    if 'g' in i:
        new_list.append(i)
        
print(new_list)    #normal method code

['Dragon', 'orange']

In [8]:
#Using list comprehension
fruits = ["apple","banana","cherry","Dragon","orange"]
x = [ i for i in fruits if 'e' in i]
print(x)

['apple', 'cherry', 'orange']

In [12]:
#numbers divisible by 5 in a list in list comprehension.
list = [5,11,20,45,55,31,80]
y = [i for i in list if i % 5 ==0] 

print(y)                           C

[5, 20, 45, 55, 80]

In [13]:
num = [34,45,65,70,35,22,80]
new = [ x for x in num if x % 2 ==1]
print(new)

[45, 65, 35]

In [18]:
list1 = [23,34,54,33,124,56]
new =[ x*5 for x in list1 if x % 2 == 0]
print(new)

[170, 270, 620, 280]

In [23]:
fruits = ["apple","banana","cherry","orange","grape"]
new = [i for i in fruits ]
print(new)

['apple', 'banana', 'cherry', 'orange', 'grape']

In [28]:
#conditiion
fruits = ["apple","banana","cherry","orange","grape"]

new = [  x.upper() for x in fruits if x != "cherry" ]
print(new)

['APPLE', 'BANANA', 'ORANGE', 'GRAPE']

In [36]:
#range

list = [ i for i in  range(2,20) ]
len(list)
print(list)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [39]:
#if else

fruits = ["apple","banana","cherry","orange","grape"]
new = [ x.upper() if 'r' in x else "Not Found" for x in fruits]
print(new)

['Not Found', 'Not Found', 'CHERRY', 'ORANGE', 'GRAPE']

In [44]:
#while loop

fruits = ["apple","banana","cherry","orange","grape"]
new = [ i while  i == "cherry" for i in fruits ]
print(new)

SyntaxError: invalid syntax (4118209510.py, line 4)

In [43]:
#if else ladder

set = [2,3,6,4,13,22,15,18]
new_set = [ i if i%2 =0 else 'no'if i%3 =0 else 'no' if i%5 = 0 else 'no'  for i in set ]
print(new_set)

SyntaxError: expected 'else' after 'if' expression (2060411130.py, line 4)

In [46]:
fruits = ["apple","banana","cherry","orange","grape"]
new = [ i for i in fruits if 'c' in i  else "not"]

SyntaxError: invalid syntax (207786836.py, line 2)

# zip()

In [61]:
a = {"ajay","balu","chandu","danush","emil"}
b = {"arun","bablu","chetan","dinesh"}
c = zip(a,b)
print(tuple(c))
print(type(c))

(('balu', 'bablu'), ('chandu', 'chetan'), ('emil', 'dinesh'), ('ajay', 'arun'))
<class 'zip'>

In [79]:
a = ["farmer", "doctor", "teacher","engineer"]
b = ["field","hospital"]
c = ["crops","students","projects"]
x = zip(a,b,c)

#print(set(x))

#print(type(x))

#print(tuple(x))
#print(type(x))

#print(set(x))

print(set(x))

#print(dict(x))

{('doctor', 'hospital', 'students'), ('farmer', 'field', 'crops')}

In [91]:
a = [12,23,23,34,55,10,20]

for i in  enumerate(a):
    print(i)

(0, 12)
(1, 23)
(2, 23)
(3, 34)
(4, 55)
(5, 10)
(6, 20)

In [97]:
a = [12,23,23,34,55,10,20]
b = [21,23,44,54,45]
for i in  zip(a,b):
    print(i)
    print(type(i))

(12, 21)
<class 'tuple'>
(23, 23)
<class 'tuple'>
(23, 44)
<class 'tuple'>
(34, 54)
<class 'tuple'>
(55, 45)
<class 'tuple'>

# JSON