In [44]:
#1.Given a list of numbers, remove all odd numbers from the list numbers 
list  = [3,5,45,97,32,22,10,19,39,43]
new_list =[i if i%2 == 0 else 'No'  for i in list]
print(new_list)

['No', 'No', 'No', 'No', 32, 22, 10, 'No', 'No', 'No']

In [48]:
#2.Find all of the numbers from 1-1000 that are divisible by 7
num = [x for x in range(1,1000) if x % 7 == 0] 
print(num)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [36]:
#3.Count the number of spaces in a string
my_str = "sun rises in the east"
new_str =[i for i in my_str if i ==" "]
print(len(new_str))

4

In [70]:
#4.Get the index and the value as a tuple for items in the list “hi”, 4, 8.99, ‘apple’, (‘t,b’,’n’).
#Result would look like (index, value), (index, value)

list = ["hi", 4, 8.99, "apple", ("t, b, n")]

new_list = [(i, list) for i ,list in enumerate(list)] 
print(new_list)
         #new = [(index,element) for index, element in enumerate(list)]

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, 't, b, n')]

In [57]:
#5.Find all of the words in a string that are less than 4 letters [Hint: Use split() to get the words from string]
my_str= "All of the words in a string that are less"
new_str = [i  for i in my_str.split(' ') if len(i)<4] 
print(new_str)

['All', 'of', 'the', 'in', 'a', 'are']

In [64]:
#1.	Write a Python program that iterates the integers from 1 to 50.
#For multiples of three print "Three" instead of the number and for multiples of five print "Five".
#For numbers that are multiples of three and five, print "ThreeFive


for i in range(1,50):
    if i%3 == 0:
        print(i,"Three")
        if i % 5 == 0:
            print(i,"Five")
            if i%3==0 and i%5==0:
                print(i,"ThreeFive")

3 Three
6 Three
9 Three
12 Three
15 Three
15 Five
15 ThreeFive
18 Three
21 Three
24 Three
27 Three
30 Three
30 Five
30 ThreeFive
33 Three
36 Three
39 Three
42 Three
45 Three
45 Five
45 ThreeFive
48 Three

In [83]:
#2.	Write a Python program that accepts a string and calculates the number of digits and letters.

str1="pavan1138"
alpha=0
for i in str1:
    if (i.isalpha()):
        alpha+=1
        a = len(str1)-alpha
print("no of digits : ",a)
print("no of letters : ",alpha)

no of digits :  4
no of letters :  5