In [4]:
#Loops syntax
fruits = ["Apple","Banana","Cat"]
for x in fruits:
 print(x)

Apple
Banana
Cat

In [6]:
   for x in "banana":
    print(x)

b
a
n
a
n
a

In [12]:
#loop using Break statement
fruits = [1,2,True,"cherry"]
for x in fruits:
 print(x)
 if str(x) == True:
  Break

1
2
True
cherry

In [38]:
#loop using continue statement
fruits = ["apple", "banana", "cherry", "DRAGON"]
for x in fruits:
  if x == "apple":
    continue
  print(x)

banana
cherry
DRAGON

In [43]:
#RANGE
for x in range(0,10):
 print(x)

0
1
2
3
4
5
6
7
8
9

In [46]:
#else keyword

for x in range(1,5):
 print(x)
else:
 print("finished!")

1
2
3
4
finished!

In [47]:
#nested for
obj =["apple","banana","cherry"]
clr =["red","yellow","pink"]
for x in obj:
    for y in clr:
        print(x,y)

apple red
apple yellow
apple pink
banana red
banana yellow
banana pink
cherry red
cherry yellow
cherry pink

In [57]:
#while 
i = 0
while i < 5:
 print(i)
 i +=2

0
2
4

In [73]:
#Break
i = 2
while i < 10:
    print(i)
    if i == 5:
     break
    i += 2

2
4
6
8

In [82]:
#continue
i = 0
while i < 10:
    i += 1
    if i == 5:
     continue
    print(i)

1
2
3
4
6
7
8
9
10

# Conditional statement

In [90]:
#if
a = 100
b = 200
if a<b:
    print(f"{b} is greater than {a} ")

200 is greater than 100

In [109]:
#if else
a = 250
b = 300
if a<b:
    print(f"{a} is less than {b}")
elif a == b:
        print(f"{a} and {b} are equal")
else:
        (F"{a} is greater than {b}")

250 is less than 300

In [149]:
#startswith()
fruits = ['apple', 'banana', 'cherry', 'caramel','citrus']
for i in fruits:
    if i.startswith('c'):
        print(i)

cherry
caramel
citrus

In [170]:
# task

# declare three variables (a,b,c)
# use elif statemnet or if else ladder and print which is greater 
a = 100
b = 200
c = 300
if a<b and  a<c:
    print("a greater than b , c")
    print("b is greater than a, c")
 else: 
     print("a is greater than b")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 11)

In [171]:
# nested if 

x = 20

if x > 15:
  print("Above ten,")
  if x > 20:
    print("above 20!")
    if x>30:
        print("above 30 !")
  else:
    print("not above 20.")

Above ten,
not above 20.