# Data Visualisation

In [ ]:
 Introduction to Data Visualisation.

In [1]:
#import the library
import pandas as pd

In [2]:
#Read the csv file
data1 = pd.read_csv(r'C:\Users\sairam\Downloads\googleplaystore_v2.csv')

In [7]:
print(data1)
data1.head()

                                                     App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

       Rating Reviews          Size     Installs  Type Price Content Rating  \
0         4.1     159  19000.000000      10,000+  Free     0       Everyone
1         3.9     967  14000.000000     500,000+  Free     0       Everyone
2         4.7   87510   8700.000000   5,000,000+  Free     0       Everyone
3         4.5  215644  25000.000000  50,000,000+  Free     0           Teen
4         4.3     967   2800.000000     100,000+  Free     0       Everyone
...       ...     ...           ...          ...   ...   ...            ...
10836     4.5      38  53000.000000       5,000+  Free     0       Everyone
10837     5.0       4   3600.000000         100+  Free     0       Everyone
10838     NaN       3   9500.000000       1,000+  Free     0       Everyone
10839     4.5     114  21516.529524       1,000+  Free     0     Mature 17+
10840     4.5  398307  19000.000000  10,000,000+  Free     0       Everyone

                          Genres      Last Updated         Current Ver  \
0                   Art & Design   January 7, 2018               1.0.0
1      Art & Design;Pretend Play  January 15, 2018               2.0.0
2                   Art & Design    August 1, 2018               1.2.4
3                   Art & Design      June 8, 2018  Varies with device
4        Art & Design;Creativity     June 20, 2018                 1.1
...                          ...               ...                 ...
10836                  Education     July 25, 2017                1.48
10837                  Education      July 6, 2018                 1.0
10838                    Medical  January 20, 2017                 1.0
10839          Books & Reference  January 19, 2015  Varies with device
10840                  Lifestyle     July 25, 2018  Varies with device

              Android Ver
0            4.0.3 and up
1            4.0.3 and up
2            4.0.3 and up
3              4.2 and up
4              4.4 and up
...                   ...
10836          4.1 and up
10837          4.1 and up
10838          2.2 and up
10839  Varies with device
10840  Varies with device

[10841 rows x 13 columns]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700.0,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
data1.shape

(10841, 13)

# Data Handling and cleaning

# For Missing Values: Some common techniques to treat this issue are
 - Dropping the rows containing the missing values
 - Imputing the missing values (Mean, Median, Mode)
 - Keep the missing values if they don't affect the analysis
 - Incorrect Data Types:
 - Clean certain values
 - Clean and convert an entire column

In [6]:
#check the data types of all in a data frame
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  float64
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

# Missing Value Treatment

In [8]:
data1.shape

(10841, 13)

In [9]:
#check the number of null values in columns.
data1.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

 -  Handling Missing values for rating
 -   
 -  Ratings is the target Variable
 -  drop the records

In [21]:
data2 = data1[~data1.Rating.isnull()]

In [14]:
data2.Rating.isnull().sum()

0

In [15]:
#Drop the null values  having in Rating field.
data2 =data1[~data1.Rating.isnull()]

In [16]:
#check the shape of the data frame
data2.shape

(9367, 13)

In [17]:
#check the number of nulls in the Rating field again to cross-verify
data2.Rating.isnull().sum()

0

In [18]:
#Check the number of nulls in the dataframe again and find the total number of values.
data2.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       4
Android Ver       3
dtype: int64

In [20]:
data2[data2['Android Ver'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4453,[substratum] Vacuum: P,PERSONALIZATION,4.4,230,11000.000000,"1,000+",Paid,$1.49,Everyone,Personalization,"July 20, 2018",4.4,NaN
4490,Pi Dark [substratum],PERSONALIZATION,4.5,189,2100.000000,"10,000+",Free,0,Everyone,Personalization,"March 27, 2018",1.1,NaN
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,21516.529524,Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [23]:
#Inspect the null values in the android ver column
data2[data2['Android Ver'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4453,[substratum] Vacuum: P,PERSONALIZATION,4.4,230,11000.000000,"1,000+",Paid,$1.49,Everyone,Personalization,"July 20, 2018",4.4,NaN
4490,Pi Dark [substratum],PERSONALIZATION,4.5,189,2100.000000,"10,000+",Free,0,Everyone,Personalization,"March 27, 2018",1.1,NaN
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,21516.529524,Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [81]:
data1.loc[10472,:]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              1.9
Rating                                               19.0
Reviews                                              3.0M
Size                                         21516.529524
Installs                                             Free
Type                                                    0
Price                                            Everyone
Content Rating                                        NaN
Genres                                  February 11, 2018
Last Updated                                       1.0.19
Current Ver                                    4.0 and up
Android Ver                                    4.1 and up
Name: 10472, dtype: object

In [26]:
data1['Android Ver'].isnull().sum()

3

In [38]:
#Drop the row having shifted values
#data2.loc[10472,:]
#data2[(data2['Android Ver'].isnull() & (data2.Category == "1.9"))]
#data2 = data2[~(data2['Android Ver'].isnull() & (data2.Category == "1.9"))]
# Check the nulls again in Android version column to cross-verify
#data2[data2['Android Ver'].isnull()]

 - Imputing Missing Values

 - or numerical variables use mean and median
 - or categorical variables use mode

In [39]:
#Check the most common value in the Android version column
data2['Android Ver'].value_counts()

Android Ver
4.1 and up            2059
Varies with device    1319
4.0.3 and up          1240
4.0 and up            1131
4.4 and up             875
2.3 and up             582
5.0 and up             535
4.2 and up             338
2.3.3 and up           240
3.0 and up             211
2.2 and up             208
4.3 and up             207
2.1 and up             113
1.6 and up              87
6.0 and up              48
7.0 and up              41
3.2 and up              31
2.0 and up              27
5.1 and up              18
1.5 and up              16
3.1 and up               8
2.0.1 and up             7
4.4W and up              6
8.0 and up               5
7.1 and up               3
4.0.3 - 7.1.1            2
5.0 - 8.0                2
1.0 and up               2
7.0 - 7.1.1              1
4.1 - 7.1.1              1
5.0 - 6.0                1
Name: count, dtype: int64

In [42]:
data2['Rating'].mode()[0]

4.4

In [44]:
data2['Rating'].mean()

4.191757420456972

In [45]:
data2['Rating'].median()

4.3

In [49]:
data2['Android Ver'].mode()

0    4.1 and up
Name: Android Ver, dtype: object

In [74]:
# impute - fillna(x) -check the missing values and replace it with the parameter given 
data2['Android Ver'] = data2['Android Ver'].fillna(data2['Android Ver'].mode()[0])

In [75]:
data2['Android Ver'] = data2['Android Ver'].fillna(data2['Android Ver'].mode()[0])

In [77]:
#Fill up the nulls in the Android Version column with the above value
data2['Android Ver'] = data2['Android Ver'].fillna(data2['Android Ver'].mode()[0])

In [78]:
#Check the nulls in the Android version column again to cross-verify
data2['Android Ver'].isnull().sum()

0

In [80]:
#Check the nulls in the entire dataframe again
data2.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       4
Android Ver       0
Android ver       0
dtype: int64

In [83]:
data2['Current Ver'].value_counts()

Current Ver
Varies with device    1415
1.0                    458
1.1                    195
1.2                    126
1.3                    120
                      ...
2.9.10                   1
3.18.5                   1
1.3.A.2.9                1
9.9.1.1910               1
0.3.4                    1
Name: count, Length: 2638, dtype: int64

In [85]:
data2['Content Rating'].value_counts()

Content Rating
Everyone           7420
Teen               1084
Mature 17+          461
Everyone 10+        397
Adults only 18+       3
Unrated               1
Name: count, dtype: int64

In [86]:
data2['Current Ver'] = data2['Current Ver'].fillna(data2['Current Ver'].mode()[0])

In [87]:
data2['Current Ver'].isnull().sum()

0

In [88]:
data2['Content Rating'].isnull().sum()

0

In [89]:
data2['Content Rating'] = data2['Content Rating'].fillna(data2['Content Rating'].mode()[0])

In [90]:
data2.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
Android ver       0
dtype: int64

In [91]:
#Replace the nulls in the Current version column with the above value
data2['Current Ver'] = data2['Current Ver'].fillna(data2['Current Ver'].mode()[0])

In [92]:
data2['Current Ver'].value_counts()

Current Ver
Varies with device    1419
1.0                    458
1.1                    195
1.2                    126
1.3                    120
                      ...
2.9.10                   1
3.18.5                   1
1.3.A.2.9                1
9.9.1.1910               1
0.3.4                    1
Name: count, Length: 2638, dtype: int64

# Handling Incorrect Data Types

In [93]:
#Check the datatypes of all the columns 
data2.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size              float64
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
Android ver        object
dtype: object

In [96]:
set(data2.Price.to_list())

{'$0.99',
 '$1.00',
 '$1.20',
 '$1.29',
 '$1.49',
 '$1.50',
 '$1.59',
 '$1.61',
 '$1.70',
 '$1.75',
 '$1.76',
 '$1.97',
 '$1.99',
 '$10.00',
 '$10.99',
 '$11.99',
 '$12.99',
 '$13.99',
 '$14.00',
 '$14.99',
 '$15.46',
 '$15.99',
 '$16.99',
 '$17.99',
 '$18.99',
 '$19.40',
 '$19.99',
 '$2.00',
 '$2.49',
 '$2.50',
 '$2.56',
 '$2.59',
 '$2.90',
 '$2.95',
 '$2.99',
 '$24.99',
 '$29.99',
 '$299.99',
 '$3.02',
 '$3.04',
 '$3.08',
 '$3.28',
 '$3.49',
 '$3.88',
 '$3.90',
 '$3.95',
 '$3.99',
 '$33.99',
 '$37.99',
 '$379.99',
 '$389.99',
 '$39.99',
 '$399.99',
 '$4.29',
 '$4.49',
 '$4.59',
 '$4.60',
 '$4.77',
 '$4.84',
 '$4.99',
 '$400.00',
 '$5.49',
 '$5.99',
 '$6.49',
 '$6.99',
 '$7.49',
 '$7.99',
 '$79.99',
 '$8.49',
 '$8.99',
 '$9.00',
 '$9.99',
 '0'}

In [98]:
data2 = data2[data2.Price != 'Everyone']

In [99]:
#Analyse the Price column to check the issue
data2.Price.value_counts()

Price
0          8719
$2.99       114
$0.99       107
$4.99        70
$1.99        59
           ...
$1.29         1
$299.99       1
$379.99       1
$37.99        1
$1.20         1
Name: count, Length: 73, dtype: int64

In [103]:
a = '$345678544556.0'
float(a[1:])

345678544556.0

In [ ]:
#lambda function
#lambda x: 0 if x=="0" else float(x[1:])

In [130]:
data2.Price.apply(lambda x : 0 if x=='0' else float(a[1:]))

0        3.456785e+11
1        3.456785e+11
2        3.456785e+11
3        3.456785e+11
4        3.456785e+11
             ...
10834    3.456785e+11
10836    3.456785e+11
10837    3.456785e+11
10839    3.456785e+11
10840    3.456785e+11
Name: Price, Length: 9366, dtype: float64

In [136]:
 data2.Price = data2.Price.apply(lambda x:0 if x=='0' else float(a[1:]))

In [137]:
data2.Price.value_counts()

Price
3.456785e+11    9366
Name: count, dtype: int64

In [139]:
data2.Price.dtype

dtype('float64')