In [2]:
#set
myset = {"Apple","Banana","Cherry"}
type(myset)

set

In [6]:
#Unordered,remove Duplicates
s1 = {"Apple","Banana","Cherry"}
s2 = {4, 8, 6, 12}
s3 = {True , False , True}
print(s1)
print(s2)
print(s3)

{'Banana', 'Cherry', 'Apple'}
{8, 4, 12, 6}
{False, True}

In [9]:
#using set constructor we can create a set object using the values in any format.
setlist = set(["Apple","Google","Missoft"])
type(setlist)

set

In [19]:
#Accessing sets.
theset = {"Apple","Banana","Cherry"}

for x in theset:
 print(set)

{'Banana', 'Cherry', 'Apple'}
{'Banana', 'Cherry', 'Apple'}
{'Banana', 'Cherry', 'Apple'}

In [21]:
theset = {"Apple","Banana","CHerry"}
print("bananas" in theset)

False

In [23]:
# Once a set is created, you cannot change its items, but you can add new items.
# add set items.
theset = {"Apple","Banana","cherry"}
new = theset.add("Dragons")          #.add() function
print(theset)

{'Dragons', 'Banana', 'Apple', 'cherry'}

In [30]:
#update()
set1 = {"Apple","Banana","Cherry"}
set2 = {"Dragon","Mango","Grapes"}
set1.update(set2)
print(set1)

set_1 = {"Apple","Banana","Cherry"}
set_2 = {"Mango","Grapes","Kiwi"}
set_2.update(set_1)
print(set_2)
# Note: Update function is not only consised with set obj but we can add any other data type to all elements in the original set.

{'Grapes', 'Mango', 'Banana', 'Cherry', 'Apple', 'Dragon'}
{'Grapes', 'Mango', 'Banana', 'Cherry', 'Apple', 'Kiwi'}

In [35]:
#remove()
listset1 = {"Apple","Banana","Cherry","Mango","Grapes","Kiwi"}

listset1.remove("Apple")
print(listset1)

{'Grapes', 'Mango', 'Banana', 'Cherry', 'Kiwi'}

In [40]:
#discard.
listset = {"Apple","Banana","Cherry"}
listset.discard("Cherry")
#listset.discard("Kiwi")
print(listset)

{'Banana', 'Apple'}

In [53]:
#pop()
set1 = {"Apple","Cherry","Dragon"}
set1.pop()
print(set1)
# Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

{'Apple', 'Dragon'}

In [47]:
#clear()

set1 = {"Apple","Banana","Cherry"}
set1.clear()
print(set1)

set()

In [58]:
set1 = {"Aple", "Banana","Cherry"}
del set1
print(set1)

NameError: name 'set1' is not defined

In [61]:
#join.union()
set1 = {"AB","BC", 1, 3, 5}
set2 = {"CD","BD",2, 4}
set3 = {"XY","YZ",9, 8}
set10 = set1.union(set2,set3)
print(set10)

{'AB', 1, 2, 3, 4, 5, 'XY', 8, 9, 'BD', 'YZ', 'CD', 'BC'}

In [69]:
# The intersection_update() method will keep only the items that are present in both sets.
set1 = {"Apple","Banana","Cherry"}
set2 = {"Dragon","Mango","Cherry"}


set1.intersection_update(set2)
print(set1)

{'Cherry'}

In [70]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
set1 = {"Apple","Banana","Cherry"}
set2  = {"Apple","Gooogle","Microsoft"}
set1.symmetric_difference_update(set2)
print(set1)

{'Gooogle', 'Banana', 'Cherry', 'Microsoft'}

# tuple()

In [71]:
data = ("Apple","Banana","Cherry",1, 3, 5)
print(type(data))

<class 'tuple'>

In [86]:
#access
data = ("Python", 11, 12,"Ab","Bc", True, 17, 18)
print(data[0])
print(data[0:])
print(data[3:6])
print(data[:-1:])
print(data[:-3])

Python
('Python', 11, 12, 'Ab', 'Bc', True, 17, 18)
('Ab', 'Bc', True)
('Python', 11, 12, 'Ab', 'Bc', True, 17)
('Python', 11, 12, 'Ab', 'Bc')

In [97]:
#typecasting
tuple_1 = ("Apple","Banana","Cherry")
print(type(tuple_1))
tuple_2 = ["Apple","Banana","Cherry"]
print(type(tuple_2))
new_tuple = tuple(tuple_1)
print(type(new_tuple))
new_list = list(tuple_2)
print(type(new_list))

<class 'tuple'>
<class 'list'>
<class 'tuple'>
<class 'list'>

In [101]:
tuple1 = ("Apple", "Banana", "Cherry")
print(type(tuple1))
tuple2 = list(tuple1)
print(type(tuple2))
tuple2[1] = "Kiwi"
tuple1 = tuple(tuple2)
print(tuple1)

<class 'tuple'>
<class 'list'>
('Apple', 'Kiwi', 'Cherry')

# add items in tuple()

In [109]:
a = ("Apple","Banana","Cherry")
b = list(a)
b.append("orange")
a = tuple(b)
print(a)

('Apple', 'Banana', 'Cherry', 'orange')